button {
   margin: 2px;
}

button.clicked {
	opacity: 0.5;
}

button.done {
	opacity: 0 !important;
}

h1 {
    font-size: 3.2rem !important;
}

h2 {
    font-size: 2.2rem !important;
    margin-top: 2em !important;
}